body{
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.container{
  margin: auto;
}

img{
  width: 100%;
}


#main_header{
  width: 100%;
  margin-left: 50px;  
}


/* COMMON CLASSES */
.primary-text{
  color: rgb(240, 118, 74);
  text-transform: uppercase;
}
#title{
  font-size: 35px;
}

/* NAVBAR */
#navbar{
  text-transform: uppercase;
}
#navbar li{
  display: inline;
  padding-right: 10px;
  list-style: none;
}
#navbar a{
  text-decoration: none;
  color: #888;
}
#navbar li.current a, #navbar a:hover{
  padding-bottom: 3px;
  color: coral;
}
#navbar button{
  color: white;
  background: coral;
  border: none;
}

/* LIST ITEMS */
#list_items{
  list-style: none;
}

/* SHOW CASE */
#show_case{
  background: url('../images/clothes_store.jpg') no-repeat center center;
  margin-bottom: 30px;
}
#show_case .row{
  height: 600px;
}


/* FEATURES */
#features{
  margin-top: 80px;
}
#features i{
  color: coral;
  font-size: 35px;
}
select{
  width: 100%;
  padding: .5em;
}
#features #icon_row{
  display: inline;
}
#features #core-features{
  text-align: center;
}
.wrapper{
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper .feature-one .feature-two .feature-three{
  padding: 50px;
}

/* MODAL */
.modal{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2)
}
.closeBtn{
  color: #ccc;
  font-size: 30px;
  float: right;
}

.closeBtn:hover, .closeBtn:focus{
  color: #333;
  cursor: pointer;
  text-decoration: none;
}
.modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
.modal-content .head{
  display: flex;
}
.modal-content .head > div{
  width: 50%;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}

#modalBtn{
  margin-top: 10px;
  border: 0px;
  padding: .5em;
  color: #888;
  text-transform: uppercase;
  outline: 0px;
  margin-right: 20px;
  transition: background-color 2s ease-out;
  cursor: pointer;
}
.modal_form{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.modal_form button{
  margin-top: 10px;
  background: coral;
  width: 100%;
  border: 0px;
  padding: .5em;
  color: white;
  text-transform: uppercase;
  outline: 0px;
  transition: background-color 2s ease-out;
}
.modal_form input{
  width: 100%;
  padding: .5em;
}

/* FOOTER */
#main_footer{
  margin-top: 80px;
  text-align: center;
}

section .container{
  width: 80%;
  margin-top: 50px;
  outline: 0px;
}

.row #search{
  background: coral;
  border: 0px;
  padding: .5em;
  color: white;
  text-transform: uppercase;
  outline: 0px;
  margin-top: 5px;
}
.container #search_prod{
  margin-left: -50px;
  height: 20px;
  width: 50px;
  width: 95%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}
.fa-search{
  color: coral;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 30px;
}

/* LOGIN SIGNUP TABS */
#show_case .form{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 250px;
  background: #fff;
  margin-top: 60px;
}
#show_case .form .head{
  width: 100%;
  height: 55px;
  display: flex;
}
#show_case .body{
  margin-top: 10px;
}

#show_case .form .head > div{
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 55px;
  cursor: pointer;
  background: transparent;
}
.form{
  margin-top: 80px;
}
.form .head .signup > div:nth-child(1), .form .head > div:nth-child(2){
  background: rgb(168, 165, 165) !important;
  transition: all .3s ease-in-out;
}
.form .head .signup > div:nth-child(2){
  background: transparent !important;
  transition: all .3s ease-in-out;
}
.form .body{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.form .body > div{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all .3s ease-in-out;
}
.form .body .form-row{
  border-top: 1px solid #ccc;
}
.form .body .form-row input{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 95%;
  height: 25px;
  margin: 5px;
  margin-top: 10px;
  font-size: 18px;
  text-indent: 38px;
}
.form .body .form-row input:hover, input:focus{
  border-bottom: 1px solid coral;
  transition: all .2s ease-in-out;
}
.form .body .form-row #login_button{
  border: none;
  outline: none;
  width: 95%;
  border-radius: 2px;
  background: coral;
  padding: .5em;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  margin: 5px;
  justify-content: center;
}
.form .body .form-row #login_button a{
  text-decoration: none;
}
.body .login .form-row #admin-name{
  margin-top: 25px;
}
.body .login .form-row #admin-pass{
  margin-top: 25px;
}
.body .signup .form-row #atten-pass{
  margin-top: 25px;
}
.body .signup .form-row #atten-name{
  margin-top: 25px;
}
.form .body > div.login{
  left: 0%;
}
.form .body > div.signup{
  left: 100%;
}
.form .body.active > div.login{
  left: -100%;
}
.form .body.active > div.signup{
  left: 0%;
}

/* MEDIA QUERIES */
@media(max-width:700px){
  .modal-content{
    width: 80%;
  }
}

/* ITEMS */
#products{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#sales{
  margin-top: 50px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}
#admin_sales{
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.table-row{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #e0e0e0;
  border-collapse: collapse;
  padding-top: 5px;
}
.table-row.header {
  background-color: coral;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
}
.table-row .fa-trash{
  margin-right: 40px;
  cursor: pointer;
}
.table-row .fa-pen{
  cursor: pointer;
}
.text{
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 180px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#filter_attendant{
  width:86%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:400px){
  #show_case{
    width: 30%;
  }
}